body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f45c04+0,ffbf7f+100 */
	background: #f45c04; /* Old browsers */
	background: -moz-linear-gradient(top,  #f45c04 0%, #ffbf7f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f45c04 0%,#ffbf7f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f45c04 0%,#ffbf7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45c04', endColorstr='#ffbf7f',GradientType=0 ); /* IE6-9 */

	font-family: Courier, serif;

	height: 100%;
}

#logosection {
	width: 100%;
	height: 300px;
	background: red;
	position: relative;
	z-index: 1;
}

.clipsection {
	transition: 0.4s cubic-bezier(1, -1, 0, 2);
	-webkit-clip-path: url("#clip-shape");
	clip-path: url("#clip-shape");
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
	clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

/*#logosection:hover {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
}*/

.svg-container {
	max-width: 250px;
	height: 250px;
	margin: 0 auto;
	text-align: center;
	border-radius: 50%;
	background: white;
}

.svg-container>object {
	margin-top: calc(50% - 100px);
}

.header-container {
	width: 100%;
	height: 600px;
	position: relative;
}

.video-container {
	position: absolute;
	top: -100px;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

video {
	position: relative;
	z-index: -1;
	width: 100%;
}

h3 {
	position:relative;
	z-index: 1;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
}

.body-container {
	position: relative;
	/*top: -200px;
	z-index: -2;*/
	min-height: 500px;
	text-align: center;
}

section {
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	width: calc(100% / 3);
	min-height: 500px;
	float: left;
}

.uneaten_burgers {
	background: maroon;
}

.add_burger {
	background: olive;
}

.eaten_burgers {
	background: navy;
}

h1 {
	font-weight: 900;
	font-size: 2em;
	margin-bottom: 40px;
}

h2 {
	font-weight: 500;
	font-size: 1.2em;
	margin-bottom: 20px;
}

li {
	height: 100px;
	width: 80%;
	margin: 0 auto;
}

li>img {
	float: left;
}

button {
	cursor: pointer;
	font-size: 1em;
	padding: 20px 50px;
	border-radius: 5px;
	background-color: black;
	color: white;
	border-style: none;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

button:hover {
	background-color: gray;
	color: black;
}

footer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 150px;
	width: 100%;
	background-color: lightblue;
	text-align: center;

}

@media screen and (max-width: 600px) {
	section {
		width: 100%;
		min-height: auto;
	}
}